body, html{
    height: 100%;
}
.main_background{
    background: url("img/main_background2fixed.jpg");
    background-size: cover;
    height: 100%;
    background-position: center;
    
}
.standart_background{
    background: rgb(255,255,255);
    background-size: cover;
    height: 100%;
    background-position: center;
}
.login_background{
    background: url("img/login_background2.jpg");
    background-size:cover;
    height: 100%;
    background-position: center;
}
.mirasimiz_background{
    background: url("img/ataturk_suhut.jpg");
    background-size:cover;
    height: 100%;
    background-position: center;
}
h1.main_yazi
{
    color:rgb(175, 175, 175);
}
h2.main_yazi
{
    color:rgb(75, 75, 75);
}
.login_yazi{
    color: black;
}
.hakkinda_yazi{
    color:white;
}
.iletisim_yazi{
    color:white;
}
